
 

  <br>
  <br>
  <br>
      <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link"routerLink="bankprocess">Bank Process</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link"routerLink="profile">Account Profile</a>
        </li>
        <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                 Loan Process<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" routerLink="loanrequest" mdbWavesEffect href="#">Loan Requset</a>
                    <a class="dropdown-item waves-light" routerLink="loanpay" mdbWavesEffect href="#">LoanPay</a>
                    <a class="dropdown-item waves-light" routerLink="lendingdetail"  mdbWavesEffect href="#">LendingDetails</a></div>
            </li>
                <li class="nav-item dropdown" dropdown>
                        <a dropdownToggle mdbWavesEffect class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                         Fixed Deposit<span class="caret"></span></a>
                        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                                <a class="dropdown-item waves-light" routerLink="fixeddeposit" mdbWavesEffect href="#">Fixeddeposit</a>
                            <a class="dropdown-item waves-light" routerLink="fdamountrequest" mdbWavesEffect href="#">FD Amount Requset</a>
                            <a class="dropdown-item waves-light"routerLink="fdownersettlement" mdbWavesEffect href="#">FD Amount Owner Settlement</a>
                            </div>
                    </li>
                    <router-outlet></router-outlet>